.fp-flake-theme {
  &.-default {
    --system-hsl: var(--accent-h) var(--accent-s) var(--accent-l);

    --flake-border: hsla(var(--system-hsl) / 0.25);
    --flake-shadow: hsla(var(--system-hsl) / 0.25);
    --flake-shadow-heavy: hsla(var(--system-hsl) / 0.75);
    --flake-name: var(--text-accent);
    --flake-name-bg: var(--background-primary-alt);
    --flake-text: var(--text-normal);
    --flake-text-bg: var(--background-primary);
  }
}
