.fp-flake-theme {
  min-height: 0;
  max-height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-rows: min-content auto;

  color: var(--flake-text);
  background-color: var(--flake-text-bg);

  border: var(--border-width) solid var(--flake-border);
  border-radius: var(--radius-s);
  box-shadow:
    0 0 4px var(--flake-shadow),
    1px 1px 2px var(--flake-shadow);

  %flake-name {
    padding: 0.375em 0.5em 0.25em 0.5em;
    line-height: 1.5;

    font-family: var(--font-default);
    font-size: var(--font-text-size);
    font-weight: var(--font-bold);

    color: var(--flake-name);
    background-color: var(--flake-name-bg);
  }

  & .name {
    @extend %flake-name;
    word-break: break-word;
    user-select: text;
    border-bottom: var(--border-width) solid var(--flake-border);
  }

  & .nameedit {
    @extend %flake-name;
    border: none;
    border-bottom: var(--border-width) solid var(--flake-border);
  }

  & .content {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  &.-editing {
    z-index: 10;
    box-shadow:
      0 0 8px var(--flake-shadow-heavy),
      1px 1px 4px var(--flake-shadow);
  }

  &.-default {
    --system-hsl: var(--accent-h) var(--accent-s) var(--accent-l);

    --flake-border: hsla(var(--system-hsl) / 0.25);

    --flake-shadow: hsla(var(--system-hsl) / 0.25);
    --flake-shadow-heavy: hsla(var(--system-hsl) / 0.5);

    --flake-name: var(--text-accent);
    --flake-name-bg: var(--background-primary-alt);

    --flake-text: var(--text-normal);
    --flake-text-bg: var(--background-primary);
  }
}
