._fp-btn-icon {
  padding: 0.5em;
}

._fp-btn-icon-at-left {
  padding-left: 0.5em;

  display: flex;
  align-items: center;
  column-gap: 0.25em;
}

._fp-markdown {
  & p {
    margin: 0.5em 0;
  }
}

%fp-inset {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
