.fp-btn-icon {
  padding: 0.5em;

  .is-phone & {
    min-width: var(--input-height);
  }

  &.-red {
    color: var(--color-red);
  }
}

.fp-btn-icon-with-label {
  padding-left: 0.5em;

  display: flex;
  align-items: center;
  column-gap: 0.25em;
}

.fp-markdown {
  & p {
    margin: 0.5em 0;
  }
}

.fp-obsidian-panel {
  background-color: var(--background-primary);
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--input-radius);
  box-shadow: var(--input-shadow);
}

%fp-inset {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
