.fp-inset {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fp-btn-icon {
  padding: 0.5em;
  min-width: var(--input-height);
}

.fp-btn-icon-label {
  display: flex;
  align-items: center;
  column-gap: 0.25em;

  padding-left: 0.5em;

  &.-nolabel {
    @extend .fp-btn-icon
  }

  &.-nolabel .label {
    display: none;
  }
}

.fp-markdown {

  p,
  pre {
    margin: 0.5rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.75rem 0 0.5em 0;
  }

  img {
    border-radius: var(--radius-s);
  }

  pre {
    border-radius: var(--radius-s);
    background-color: var(--code-background);

    position: relative;
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;
  }

  pre .copy-code-button {
    @extend .fp-btn-icon;

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: none;
  }

  pre:hover .copy-code-button {
    display: flex;
  }

  pre code {
    font-family: var(--font-monospace);
    font-size: var(--font-small);
    white-space: pre-wrap;

    line-height: 1.4;
    letter-spacing: -0.2px;
  }
}

.fp-obsidian-panel {
  background-color: var(--background-primary);
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--input-radius);
  box-shadow: var(--input-shadow);

  padding: 0.75em;
  pointer-events: painted;
}

.fp-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
