.fp-btn-icon {
  padding: 0.5em;
  min-width: var(--input-height);
}

.fp-btn-icon-label {
  display: flex;
  align-items: center;
  column-gap: 0.25em;

  padding-left: 0.5em;

  &.-nolabel {
    @extend .fp-btn-icon
  }

  &.-nolabel .label {
    display: none;
  }
}

.fp-markdown {
  & p {
    margin: 0.5em 0;
  }

  & img {
    border-radius: var(--radius-s);
  }

  & pre code {
    font-size: var(--font-small);
    line-height: 1.4;
    letter-spacing: -0.2px;
  }
}

.fp-obsidian-panel {
  background-color: var(--background-primary);
  border: var(--border-width) solid var(--background-modifier-border);
  border-radius: var(--input-radius);
  box-shadow: var(--input-shadow);

  padding: 0.75em;
  pointer-events: painted;
}

%fp-inset {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
